@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --jeopardy-blue: #060CE9;
  --font-color-main: #fff;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Della Respira', serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.card {
    background-color: var(--jeopardy-blue);
    width: 52%;
    height: 52%;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .card:hover {
    transform: rotateY(180deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  }
  
  .card-front,
  .card-back {
    color: var(--font-color-main);
    font-size: 1.5rem;
    text-align: center;
    text-shadow: #000 2px 2px 4px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 15px;
    backface-visibility: hidden;
  }
  
  .card-back {
    transform: rotateY(180deg);
  }