@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --jeopardy-blue: #060CE9;
  --font-color-main: #fff;
}

body {
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Della Respira', serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}