@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --snow: #F0F4F7;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-image:url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--dark-green);
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: var(--dark-green);
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h1 span {
    color: var(--bright-red);
}