:root {
    --black: #282828;
    --blue: #2892f9;
    --red: #fb2f27;
    --yellow: #fdfe29;
}

html,
body {
    margin: 0;
    padding: 0;
    background-image: url(snow.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.rings {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.rings:hover {
    animation: spin 2s linear infinite;
}

.ring {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ring-1 {
    background-color: var(--black);
    height: 310px;
    width: 310px;
}

.ring-2 {
    background-color: var(--blue);
    height: 240px;
    width: 240px;
}

.ring-3 {
    background-color: var(--red);
    height: 170px;
    width: 170px;
}

.bullseye {
    background-color: var(--yellow);
    height: 80px;
    width: 80px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}