@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --progressbar-bg: lightgrey;
    --start: red;
    --middle: blue;
    --finish: green;
    --text-color: #333;
    --background-color: rgba(238, 238, 238, 0.8);
    --shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
}

body {
    background-image: url(bg-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: 'Fraunces', serif;
    font-weight: 500;
    padding: 40px 15px;
}


h1 {
    font-size: 2.5em;
    font-weight: 800;
    line-height: 2em;
}

h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    border-bottom: #333 solid 1px;
}

h1,
h2 {
    text-transform: uppercase;
}

span {
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
    line-height: 2em;
}

li {
    font-size: 1em;
    line-height: 1.5em;
}

address {
    font-style: normal;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 0.75fr);
    grid-column-gap: 20px;
    grid-row-gap: 2px;
}

.tracker-title {
    grid-area: 1 / 1 / 2 / 4;
}

.tracker-description {
    grid-area: 1 / 4 / 2 / 7;
}

.tracker-description p {
    font-size: 1.25em;
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.tracker-progress {
    grid-area: 2 / 1 / 3 / 7;
    display: flex;
    justify-content: center;
    height: 2em;
    padding: 20px;
}

.tracker-shop {
    grid-area: 3 / 1 / 4 / 3;
}

.tracker-order {
    grid-area: 3 / 3 / 4 / 5;
}

.tracker-rating {
    grid-area: 3 / 5 / 4 / 7;
}

.card {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.progress-bar {
    background-color: var(--progressbar-bg);
    height: 2em;
    width: 500px;
    border-radius: 1em;
}

.checked {
    color: orange;
}

/* animations */

.progress-status {
    transition: .5s linear;
    transition-property: width, background-color;
    animation: progress 5s infinite;
}

#cycle:after {
    animation-name: cycle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    content: "";
}

@keyframes progress {
    0% {
        width: 0%;
        background: var(--start);
    }

    40% {
        width: 50%;
        background: var(--middle);
    }

    80% {
        width: 100%;
        background: var(--finish);
    }

    100% {
        width: 100%;
        background: var(--finish);
    }
}

@keyframes cycle {
    0% {
        content: "Checking list twice";
    }

    40% {
        content: "Fetching presents";
    }

    80% {
        content: "Wrapping presents";
    }

    100% {
        content: "Packing sleigh";
    }
}

/* add responsive media queries below */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 0.75fr);
    }

    .tracker-title {
        grid-area: 1 / 1 / 2 / 4;
    }

    .tracker-description {
        grid-area: 2 / 1 / 3 / 4;
    }

    .tracker-progress {
        grid-area: 3 / 1 / 4 / 4;
    }

    .tracker-shop {
        grid-area: 4 / 1 / 5 / 2;
    }

    .tracker-order {
        grid-area: 4 / 2 / 5 / 3;
    }

    .tracker-rating {
        grid-area: 4 / 3 / 5 / 4;
    }
}