@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=DM+Serif+Display:ital@0;1&display=swap');

:root {
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --snow: #F0F4F7;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bright-red);
    color: var(--snow);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

body.grinch-mode {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 100px;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

form input,
form button,
.result {
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 5px;
    border: none;
}

form {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12em;
}

form * {
    font-size: 1.3rem;
    padding: .5em;
}

label {
    padding-bottom: 20px;
}

input {
    background: var(--snow);
    color: var(--dark-green);
}

.grinch {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.grinch>input {
    margin-right: 10px;
}

.result {
    background: var(--snow);
    color: var(--bright-red);
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    min-width: 270px;
    max-width: 5ch;
    padding-top: 2em;
    padding-bottom: 2em;
}

.result span {
    color: var(--dark-green);
    font-weight: 900;
}

button {
    color: var(--dark-green);
    background: var(--snow);
    font-size: 1.3rem;
    margin-bottom: 20px;
}

button:hover,
button:focus {
    background-color: var(--dark-green);
    color: var(--snow);
    transform: scale(1.05);
    border: 1px solid var(--snow);
    cursor: pointer;
}

.flex-center {
    display: flex;
    flex-direction: column;
}

#img {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

#recipe {
    background: var(--snow);
    color: var(--dark-green);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    width: auto;
    padding: 10px;
    border-radius: 5px;
}

#recipe:hover,
#recipe:focus {
    background: var(--dark-green);
    color: var(--snow);
    transform: scale(1.05);
    border: 1px solid var(--snow);
    cursor: pointer;
}

.hidden {
    display: none;
}

@media (max-width: 768px) {
    body {
        overflow: auto;
    }
    .container {
        flex-direction: column;
    }

    .column {
        padding: 20px;
    }

    form {
        height: 10em;
    }

    form * {
        font-size: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    .result {
        font-size: 1rem;
    }

    #img {
        height: 150px;
    }
}